* {
  padding: 0;
  margin: 0;
  vertical-align: top;
}

body {
  font: 18px/1.5em Helvetica, Arial, sans-serif;
}

p {
  margin-top: 10px;
}

header {
  position: relative;
  width: 900px;
  margin: auto;
}

header h1 {
  color: #000;
  font: normal 32px Helvetica, Arial, sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin-top: 15px;
  margin-left: 10px;
  text-decoration: none;
  vertical-align: middle;
}

#content {
  width: 880px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  margin-top: 25px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
  color: #999;
}

.demo-container {
  box-sizing: border-box;
  width: 850px;
  height: 450px;
  padding: 20px 15px 15px 15px;
  margin: 15px auto 30px auto;
  border: 1px solid #ddd;
  background: #fff;
  background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
  background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  background: linear-gradient(#f6f6f6 0, #fff 50px);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.demo-placeholder {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1.2em;
}

.legend table {
  border-spacing: 5px;
}